@font-face {
  font-family: 'property-pro';
  src:  url('../../fonts/property-pro.eot?czp8jp');
  src:  url('../../fonts/property-pro.eot?czp8jp#iefix') format('embedded-opentype'),
    url('../../fonts/property-pro.ttf?czp8jp') format('truetype'),
    url('../../fonts/property-pro.woff?czp8jp') format('woff'),
    url('../../fonts/property-pro.svg?czp8jp#property-pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pct";
  src:url("../../fonts/pct.eot");
  src:url("../../fonts/pct.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/pct.woff") format("woff"),
    url("../../fonts/pct.ttf") format("truetype"),
    url("../../fonts/pct.svg#pct") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pct" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pct-"]:before,
[class*=" pct-"]:before {
  font-family: "pct" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pct-arrow1:before {
  content: "\61";
}
.pct-arrow2:before {
  content: "\62";
}
.pct-arrow3:before {
  content: "\63";
}
.pct-arrow4:before {
  content: "\64";
}
.pct-chat1:before {
  content: "\65";
}
.pct-chat2:before {
  content: "\66";
}
.pct-chat3:before {
  content: "\67";
}
.pct-chat4:before {
  content: "\68";
}
.pct-loader1:before {
  content: "\69";
}
.pct-arrow-sharp1:before {
  content: "\6a";
}
.pct-arrow-sharp2:before {
  content: "\6b";
}
.pct-arrow-sharp3:before {
  content: "\6c";
}
.pct-arrow-sharp4:before {
  content: "\6d";
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'property-pro' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pro-like-lite:before {
  content: "\e901";
}
.pro-flag-lite:before {
  content: "\e903";
}
.pro-map-placeholder-dark-symbol-lite:before {
  content: "\e904";
}
.pro-map-pin-silhouette-lite:before {
  content: "\e906";
}
.pro-home-lite:before {
  content: "\e900";
}
.pro-home3-lite:before {
  content: "\e902";
}
.pro-pencil-lite:before {
  content: "\e905";
}
.pro-droplet-lite:before {
  content: "\e90b";
}
.pro-image-lite:before {
  content: "\e90d";
}
.pro-images-lite:before {
  content: "\e90e";
}
.pro-camera-lite:before {
  content: "\e90f";
}
.pro-podcast-lite:before {
  content: "\e91c";
}
.pro-feed-lite:before {
  content: "\e91d";
}
.pro-file-empty-lite:before {
  content: "\e924";
}
.pro-files-empty-lite:before {
  content: "\e925";
}
.pro-file-text2-lite:before {
  content: "\e926";
}
.pro-file-picture-lite:before {
  content: "\e927";
}
.pro-stack-lite:before {
  content: "\e92e";
}
.pro-folder-lite:before {
  content: "\e92f";
}
.pro-ticket-lite:before {
  content: "\e939";
}
.pro-phone-lite:before {
  content: "\e942";
}
.pro-phone-hang-up-lite:before {
  content: "\e943";
}
.pro-envelop-lite:before {
  content: "\e945";
}
.pro-location2-lite:before {
  content: "\e948";
}
.pro-compass-lite:before {
  content: "\e949";
}
.pro-alarm-lite:before {
  content: "\e950";
}
.pro-bell-lite:before {
  content: "\e951";
}
.pro-database-lite:before {
  content: "\e964";
}
.pro-bubbles-lite:before {
  content: "\e96c";
}
.pro-bubbles2-lite:before {
  content: "\e96d";
}
.pro-bubbles3-lite:before {
  content: "\e96f";
}
.pro-bubbles4-lite:before {
  content: "\e970";
}
.pro-spinner9-lite:before {
  content: "\e982";
}
.pro-search-lite:before {
  content: "\e986";
}
.pro-equalizer-lite:before {
  content: "\e992";
}
.pro-cog-lite:before {
  content: "\e994";
}
.pro-stats-dots-lite:before {
  content: "\e99b";
}
.pro-stats-bars-lite:before {
  content: "\e99c";
}
.pro-fire-lite:before {
  content: "\e9a9";
}
.pro-bin-lite:before {
  content: "\e9ac";
}
.pro-bin2-lite:before {
  content: "\e9ad";
}
.pro-power-lite:before {
  content: "\e9b5";
}
.pro-switch-lite:before {
  content: "\e9b6";
}
.pro-sphere-lite:before {
  content: "\e9c9";
}
.pro-earth-lite:before {
  content: "\e9ca";
}
.pro-link-lite:before {
  content: "\e9cb";
}
.pro-attachment-lite:before {
  content: "\e9cd";
}
.pro-eye-lite:before {
  content: "\e9ce";
}
.pro-star-empty-lite:before {
  content: "\e9d7";
}
.pro-star-half-lite:before {
  content: "\e9d8";
}
.pro-star-full-lite:before {
  content: "\e9d9";
}
.pro-heart-lite:before {
  content: "\e9da";
}
.pro-warning-lite:before {
  content: "\ea07";
}
.pro-plus-lite:before {
  content: "\ea0a";
}
.pro-minus-lite:before {
  content: "\ea0b";
}
.pro-info-lite:before {
  content: "\ea0c";
}
.pro-cross-lite:before {
  content: "\ea0f";
}
.pro-checkmark-lite:before {
  content: "\ea10";
}
.pro-enter-lite:before {
  content: "\ea13";
}
.pro-exit-lite:before {
  content: "\ea14";
}
.pro-ctrl-lite:before {
  content: "\ea50";
}
.pro-mail4-lite:before {
  content: "\ea86";
}
.pro-onedrive-lite:before {
  content: "\eaaf";
}